@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.RegistrationInfo != null)
{
<div class="alert alert-primary" role="alert">
    @ViewBag.RegistrationInfo
</div>
}
<div class="jumbotron">
    <h1>Welcome</h1>
    <p>
        Please <a href="/Register" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="You can register for multiple roles">Register</a>
        to be able to work on your projects.
    </p>

</div>

